@import "./variables";

.navContainer {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 6.5rem;
  z-index: 9;
  background-color: $colorBlack;

  main {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin: 0 3rem;
    color: $colorWhite;
    h1 {
      font-family: "porter_sans_blockblock", cursive;
      font-size: clamp(1.5rem, 3vw, 4rem);
    }
    a {
      text-decoration: none;
      font-family: "Press Start 2P", cursive;
      font-size: clamp(0.5rem, 1.75vw, 2rem);
      &:visited {
        color: $colorWhite;
      }
    }
    section {
      flex: 1;
      display: flex;
      gap: clamp(1.5rem, 3vw, 4rem);
      justify-content: end;
      -webkit-justify-content: flex-end;
    }
  }
}
